/* GENERAL */
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Raleway,sans-serif;
}
.lodgingInformation h4
{
    color: black;
    font-size: 18px;
    padding-bottom: 4px;
}
.lodgingInformation p
{
    font-size: 16px;
    color: black;
}
.money
{
    color: black;
    font-weight: bold;
}
.lodgingNote
{
    color: #0065FC;
}
.stars
{
    color: #d9d9d9;
}


/* HEADER */
/*header
{
    height: 130px;
}*/
.container
{
    /*max-width: 1604px;*/
    height: 130px;
    /*background-color: aqua;*/
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
}
#navbar
{
    display: flex;
   /* height: 130px;*/
    justify-content: space-around;
    align-items: center;
    width: 40%; /* pour creer l'espace sur la navbar*/
}
#logo
{
    display: flex;
    align-items: center;
}
#logo img
{
    width: 120px;
    height: 50px;
}
/*recher*/
/*.nav1
{
    display: flex;
    align-items: center;
    height: 100%;
}
/**/
div .nav1 a
{
    display: flex;
    align-items: center;
    height: 130px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}
/* hover*/
div .nav1 a:hover
{
    color: #0065FC;
    border-top: #0065FC 2px solid;
}
/**/

div .nav2 a
{
    display: flex;
    align-items: center;
    height: 130px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}
div .nav2 a:hover
{
    color: #0065FC;
    border-top: #0065FC 2px solid;
}
#registre a
{
    display: flex;
    align-items: center;
    height: 130px;
    font-size: 16px;
    font-weight: bold;
    color:  #0065FC;
}
#registre a:hover
{
    color: #0065FC;
    border-top: #0065FC 2px solid;
}

/* SECTION1 */
/* MAIN */

.main
{
    margin:0 50px;
}
header h1 
{
    font-size: 21px;
}
header p
{
    margin-top: 8px;
    font-size: 15px;
}
/* SEARCH BAR*/
.search
{
    display: block;
    margin-top: 8px;
}
.searchIcon
{
   display: flex;
   justify-content: space-around;
   align-items: center;
    background-color: #f2f2f2;
    padding: 10px 10px;
    width: 25px;
    border-radius: 10px 0 0 10px;
    font-size: 13px;
}

/* INPUT */

.position
{
    display: inline-block;
    /*height: 34px;*/
    width: 225px;
    padding: 0 1.3rem;
    border-left: none;
    border-right: none;
    font-weight: bold;
    font-size: 1rem;
}
.position1
{
   height: 50px;
   border-top: 1px solid #f2f2f2;
   border-bottom: 1px solid #f2f2f2;
   
}
/* BUTTON SEARCH*/

.positionSearch
{
    display: flex;
}

.btn
{
    background-color: #0065FC;
    border: none;
    padding: 5px 12px;
    border-radius: 0 10px 10px 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 121px;

}

/* FILTRE */
.filtre
{
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.filtreTitle
{
    font-size: 14px;
    margin-right: 28px;

}
.filtreIconeArea
{
    display: flex;
    align-items: center;
    margin-right: 28px;
    margin-top: 5px;
    border: 2px solid  #d9d9d9;
    height: 50px;
    border-left: none;
    border-radius: 27px;
    cursor: pointer;
    /*padding: 9px;*/
}
.filtreIconeArea:hover > .filtreText
{
    color: #0065FC;
}
.filtreIconeArea:hover > .filtreIcone
{
    color: white;
    background-color: #0065FC;
}
.filtreIcone
{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    color: #0065FC;
    justify-content: center;
    border-radius: 48%;
    background-color: #DEEBFF;
    margin-right: 0px;
    height: 53px;
    width: 55px;
}
.filtreText
{
    font-weight: bold;
    padding: 18px 15px;
}

/* RESULTAT */
.resultfilter
{
    display: flex;
    align-items: center;
}
.resulticon
{
    color: #0065FC;
    height: 20px;
    width: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 6px;
}

/* SECTIOIN 2*/
.lodging
{
    margin-top: 33px;
    display: grid;
    grid-template-columns: 897px 448px;
    grid-column-gap: 33px;
}
.lodgingContent
{
    padding: 36px 33px 31px 33px;
    background-color: #f2f2f2;
    border-radius: 1.5rem;
}
.lodgingContent h3
{
    font-size: 24px;
    font-weight: bold;
}
.moreContent
{
    font-weight: bold;
    color: black;
}
.lodgingItems
{
    padding: 31px 0px 35px 0px;
    display: grid;
    grid-template-columns: 256px 256px 256px;
    grid-gap: 32px 32px;
    
}
.lodgingIcons
{
  background-color: white;
  padding: 5px 7px 10px 7px;
  border-radius: 1.9rem;
  box-shadow: 0 0 16px #0000002e;
}
.lodgingIcons:hover
{
    transform: scale(1.02);
}
.BorderImage
{
    width: 244px;
    height: 110px;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
/* lodgingInformation */
.lodgingInformation
{
    padding: 9px 0px 4px 6px;
}
.lodgingNote
{
    padding: 0px 5px;
}

/* ASIDE */
.popularity
{
    background-color: #f2f2f2;
    display: grid;
    border-radius: 1.5rem;
}
.popContent
{
    padding-top: 32px;
}
.PopIcons:hover
{
    transform: scale(1.02);
}
/*.popContent:hover
{
    transform: scale(1.02);
}*/
.popItems
{
    padding: 36px 32px 32px 32px;
}
.mostRank
{
    display: flex;
    justify-content: space-between;
}
.mostImage
{
    display: flex;
    background-color: white;
    padding: 7px;
    border-radius: 1.7rem;
    box-shadow: 0 0 16px #0000002e;
    margin-bottom: 32px;
}
.popularName
{
    padding-left: 13px; 
}
.popBorder
{
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
}
.popStars
{
    padding-top: 58px;
}
.mostRank > h3
{
    font-size: 24px;
    font-weight: bold;
}
.mostRank > i
{
    font-size: 24px;
}
.popularName > h4 
{
    font-size: 18px;
    color: black;
    padding-bottom: 4px;
}
.popularName > p
{
    color: black;
}